{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<link href="{% static 'css/home.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="home-image">
    <h4 class="powered"><i class="fas fa-arrow-circle-right"></i> powered by Django and Bootstrap</h4>
</div>

<hr style="margin: 10px 0">

<div class="row text-center mt-5">
    <div class="col-sm-6">
        <h3>BookMark App</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Quisquam nulla aut, nihil harum ad repellendus? Expedita
            aut odio ex voluptatibus doloremque voluptate! Asperiores
            quas perspiciatis accusamus architecto ipsum quidem</p>
    </div>
    <div class="col-sm-6">
        <h3>Blog App</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Quisquam nulla aut, nihil harum ad repellendus? Expedita
            aut odio ex voluptatibus doloremque voluptate! Asperiores
            quas perspiciatis accusamus architecto ipsum quidem</p>
    </div>
</div>
{% endblock %}

{% block extra-script %}
{% endblock %}