{% extends 'base.html'%}


{% load static %}

{% block title %}
parsed_Data page
{% endblock %}

{% block extra-style %}

<style>
    .food-card {
        margin-bottom: 30px;
        box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
        transition: 0.4s ease;
    }
    .food-card:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .card-body {
        text-align: justify;
        word-break: break-all;
    }
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .row{
        width: 1280px;  
        padding: auto;
    }
    .sub_main{
        padding-top: 1.5%;
        padding-left: 20%;
        padding-right: 20%;
    }
    .col-md-5{
        padding: 0;
    }
    .carousel-img{
        height: 600px;
    }



</style>
{% endblock %}

{% block content %}
<h1>부동산 전세가</h1>
<div>
    <div><h3>서울시 아파트 전세가 분석 시각화</h3></div>
</div>   

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">지역</th>
            <th class="time" scope="col"> 주택구분</th>
            <th scope="col">분양주택</th>
            <th scope="col">주택명</th>
            <th scope="col">시공사</th>
            <th scope="col">문의처</th>
            <th scope="col">모집공고일</th>
            <th scope="col">청약 기간 (시작)</th>
            <th scope="col">청약 기간 (끝)</th>
            <th scope="col">당첨자 발표 </th>

        </tr>
        <tbody>
        {% for item in result.data %}
            <tr>
                <td>{{ item.SUBSCRPT_AREA_CODE_NM  }}</td>
                <td>{{ item.HOUSE_DTL_SECD_NM   }}</td>
                <td>{{ item.RENT_SECD_NM   }}</td>
                <td>{{ item.HOUSE_NM   }}</td>
                <td>{{ item.MDHS_TELNO    }}</td>
                <td>{{ item.RCRIT_PBLANC_DE   }}</td>
                <td>{{ item.RCEPT_BGNDE   }}</td>
                <td>{{ item.RCEPT_ENDDE    }}</td>
                <td>{{ item.PRZWNER_PRESNATN_DE    }}</td>
                <td>{{ item.PRZWNER_PRESNATN_DE     }}</td>            
            </tr>
        
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}



{% block footer %}

{% endblock %}